<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--add key="constr" value="server=115.28.169.38,9753;uid=sync;pwd=sync;database=luqinsyncsns"/-->
    <add key="constr" value="server=laoma.cy6obi1j0h9w.rds.cn-northwest-1.amazonaws.com.cn;uid=laoma;pwd=Jarrod780209;database=lqfuwu"/>
    <add key="constr_game" value="server=115.182.83.248,9753;uid=sync;pwd=sync;database=gamedatabase"/>
    <add key="constr_mall" value="server=115.182.83.248,9753;uid=sync;pwd=sync;database=malldatabase"/>
    <add key="md5key" value="weixin_web_md5_lq"/>
    <add key="wxappid" value="wx905b45631b024b9c"/>
    <add key="wxappsecret" value="56efe488c1b04e746f7724e62e8cb9b9"/>
    <add key="mch_id" value="10035739"/>
    <add key="constrMall" value="server=115.182.83.248,9753;uid=sync;pwd=sync;database=malldatabase;Connect Timeout=36000;Max Pool Size=1500;"/>
    <!--add key="qrcode_path" value="D:\Webs\weixin.luqinwenda.com\images\qrcode"  /-->
    <add key="qrcode_path" value="c:\qrcode\"  />
    <add key="domain_name" value="laoma.luqinwenda.com"/>
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="Off"/>
  </system.web>
</configuration>